# Variables
---

### Declaring

### Output

### Printing

### Overwriting variables

# Numbers
---

### Integers vs Floats

In python, there are two types of numbers. Integers and floats. Integers are whole numbers (e.g. 1, 2, 3), whereas floats have decimals (e.g. 1.2, 0.5, etc)

### Casting floats as integers (and vice versa)
Occasionally, you might need to convert an integer to a float (or vice versa). This is especially important when you get into division.

In [1]:
float(1)

1.0

In [5]:
int(1.8)

1

## Basic Math
Math is very straightforward in Python. + adds, - subtracts, / divides, and * multiplies.

### Addition/Incrementing

In [6]:
counter = 0

In [7]:
counter = counter + 1

In [9]:
counter

1

In [10]:
counter +=1

In [11]:
counter

2

### Subtraction/Decrementing

### Multiplication

In [12]:
10*3

30

### Division

In [13]:
10/3

3.3333333333333335

### Dividing integers vs Floats

### Modulo Operations
In computing, the modulo operation finds the remainder after division of one number by another.

In [14]:
10 % 3

1

# Strings
---
In Python, a string is used for text. It's important to use quotes when denoting a string, otherwise you'll get an error. 

**Note**: Strings can use single or double quotes

## Concatenation
You can combine multiple strings into one string through concatenation

In [15]:
'yue'+'su'

'yuesu'

In [17]:
'yue '+'su'

'yue su'

## Interpolation
Interpolation is when you inject one or more strings into another (think mad libs).

In [19]:
'hello {}, how are you'.format("yuesu")

'hello yuesu, how are you'

In [22]:
'hello {}, how are you {}'.format("yuesu","cool")

'hello yuesu, how are you cool'

## Upper/Lowercase

In [37]:
my_name='yue su'

In [25]:
my_name.upper()

'YUESU'

In [26]:
my_name.title()

'Yuesu'

## Indexing characters

In [27]:
my_name[0]

'y'

In [28]:
my_name[-1]

'u'

In [38]:
my_name[3]

' '

## Range of Characters

In [36]:
my_name[4:]##up to 5 but not including 5

'u'

## Splitting
We can break a string up into lists using the `split` method.

### Splitting on spaces

In [42]:
'yue su'.split(' ')

['yue', 'su']

In [43]:
'yue su'.split('u')

['y', 'e s', '']

### Splitting on character(s)

In [44]:
'yue su'.split('u')

['y', 'e s', '']

# Dictionaries
---

In [1]:
me = {
    
    'first name':'yue',
    'last name':'su'
    ##use curly bracket
    ##key : value
    ##seprate by ,
}

In [69]:
me['middle name']='no middle name'
#add key and keyvalue to the dictionary

In [70]:
me

{'first name': 'yue', 'last name': 'su', 'middle name': 'no middle name'}

In [73]:
me.pop('middle name')
##drop the key and return the key value

'no middle name'

In [4]:
more_about_me={:'22'}

me.update(more_about_me)
me

SyntaxError: invalid syntax (<ipython-input-4-c79f78b33c81>, line 1)

## Accessing values from a dictionary

6

### Adding key/value pairs to a dictionary

### Removing key/value pairs

### Using `.update()` to combine dictionaries

# Lists
---

In [83]:
my_numbers=[6,1,7,9,8,1]

In [134]:
my_numbers.append(3)

In [94]:
my_numbers

[6, 1, 7, 9, 8, 1, 3, 3, 3, 3, 3, 3, 3]

### Indexing

### Slicing

### Appending

### Extending

### Removing

In [136]:
my_numbers

[6, 1, 7, 9, 8, 1, 3, 3, 3]

In [141]:
for num in range(my_numbers.count(3)):
    my_numbers.remove(3)

In [254]:
my_numbers

[6, 1, 7, 9, 8, 1]

### Sorting

In [243]:
sorted(my_numbers)
##sorted(my_numbers)[::-1] ##asending order

[1, 1, 6, 7, 8, 9]

In [257]:
my_numbers.sort()
my_numbers

[1, 1, 6, 7, 8, 9]

## Creating lists from ranges

*NOTE*: Ranges are different from Python 2 to 3

In [105]:
list(range(10))##up to 10 but not including 10
##list(range(1,10))

SyntaxError: invalid syntax (<ipython-input-105-ade99f917235>, line 2)

# Tuples
---
Tuples are like lists, except you can't change them once they're created. The scrabble word for this is "immutable".

In [108]:
my_tup=(1,2,3)
##list can change, tuples cna not be changed or append

# Sets
---
Sets are like lists, except they will only retain the **unique** values in a list.

In [110]:
set([1,1,2,3])##sets get rid of duplicates

{1, 2, 3}

# Booleans
---

In [111]:
#T/F values

# Boolean Expressions
---
Boolean expressions are "truth tests" that either evaluate to `True` or `False`

In [121]:
#test two numbers are equal
##single = is to asign a value
##double == is testing equal
1==10

False

In [122]:
1>10

False

### Equality

### Greater Than

### Greater than or equal to

### Less Than

### Less Than or equal to

In [123]:
1<=10

True

### Not equals


#

In [124]:
1!=2

True

### Modulo Expressions

In [125]:
96%3==0
#if 96 is divisible by 3

True

### "in"

In [127]:
'a'in my_name#if letter a is in my_name

False

In [129]:
'Y'in my_name #it is case sensitive

False

### Logical and

In [130]:
my_age = 18

In [132]:
my_age >=18 and my_age>= 21 #returning ture need to satisty both conditions for and

False

In [ ]:
#Ture and TURE =T
#TURE and FALSE =F

### Logical or

In [133]:
my_age >=18 or my_age>= 21 #returning ture need to satisty one conditions for or

True

### Not True/Not False

# Conditionals
---

### If Statements

In [148]:
if False:
    print('this is true')
else:
    print('ok')

ok

In [149]:
if True:
    print('hi')

hi

### If/Else

### If/Elif/Else

In [152]:
if False:
    print('this is true')
elif True:
    print("hi")
else:
    print('ok')

hi

In [155]:
if False:
    print('this is true')
elif False:
    print("hi")
else:
    print('ok')

ok

# Functions
---

### Declaring vs Invoking

In [158]:
def greeting():
    print("hi bos")
    print("hi chi")

In [160]:
greeting()

hi bos
hi chi

### Functions with paramenters

In [167]:
def greetCohort(cohort):
    print('hi '+cohort)
    if cohort =="bos":
        print("nooo")
    
greetCohort('bos')

hi bos
nooo

In [168]:
def greetCohort(cohort,food):
    print('hi '+cohort+' you have '+food)
    if cohort =="bos":
        print("nooo")

In [169]:
greetCohort('aus','bbq')

hi aus you have bbq

# For loops
---

In [177]:

names=['aaa','bbb','cccc','dddd']
for name in names:
    print(name)

aaa
bbb
cccc
dddd

In [180]:

new_names=[]
for name in names:
    ##print first letter of names in list names
    print(name[0])
    new_names.append(names[0])
new_names

a
b
c
d

['aaa', 'aaa', 'aaa', 'aaa']

In [182]:
for letter in my_name:
    print(letter)
    #print each letter of my_name

y
u
e

s
u

In [172]:
for index, name in enumerate(names):
    print(index)
    print(name)
    print("")

0
a

1
b

2
c

3
d

# While loops
---

In [183]:
my_boolean=True
while my_boolean:
    print('hi mom')
    my_boolean=False ##the false overrides true so it only runs once

hi mom

In [186]:
counter = 0
while counter <10:
    print('himom')
    counter+=1

himom
himom
himom
himom
himom
himom
himom
himom
himom
himom

In [190]:

for i in range (10):
    print('himom')

himom
himom
himom
himom
himom
himom
himom
himom
himom
himom

In [201]:
##test age 
##if<18 cant drink
my_age=21
if my_age>=21:
        print("both")
elif my_age>=18 and my_age<21:
        print("vote no drink")
else:
        print("no vote no drink")

both

In [211]:
total_score=44
if total_score>=45 and total_score<=60:
    print("red high risk")
elif total_score>=24 and total_score<=44:
    print("amber ")
elif total_score>=0 and total_score<=23:
    print("greeen low risk")

amber

In [217]:
dna="ACGTATTTTGT"
rna=''
for nuclaotide in dna:
    if nuclaotide=="T":
        rna+='U'
    else:
        rna+=nuclaotide
rna

'ACGUAUUUUGU'

In [227]:
total = 0 
for number in [-3,0,4,10,-5,-20,99]:
    if number > 0:
        total+=number
total

113

In [213]:
dna

'ACGTATTTTGT'

In [233]:
##test if each letter is upper

m_name='ySU'
for letter in m_name:
    if letter.islower():
        print(letter+' is lower')
    else:
        print(letter+ ' is upper')

y is lower
S is upper
U is upper

In [215]:
dna.split("T")

['ACG', 'A', '', '', '', 'G', '']

In [240]:
#test if the whole string is upper
m_name='YSU'
def is_upper(string):
    for letter in string:
        if not letter.isupper():
            return print(string+" string is not upper")
    return print(string+" string is upper")
is_upper(m_name)

YSU string is upper